:root {
  --color-primary: #7bc043;
  --color-secondary: #fce94f;
  --color-tertiary: #89cff0;
  --color-primary-darker: #4f7f3f;
  --color-secondary-darker: #e1c542;
  --color-tertiary-darker: #4682b4;
  --gradient-primary: linear-gradient(135deg, #7bc043, #4f7f3f);
  --gradient-secondary: linear-gradient(135deg, #fce94f, #e1c542);
  --gradient-tertiary: linear-gradient(135deg, #89cff0, #4682b4);
  --color-primary-opacity: rgba(123, 192, 67, 0.5);
  --color-secondary-opacity: rgba(252, 233, 79, 0.5);
  --color-tertiary-opacity: rgba(137, 207, 240, 0.5);
}

/* NAVIGATION */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
} */

.nav-container.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 4.5rem;
  transform: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited,
.nav__link--btn:link,
.nav__link--btn:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:hover {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #fff;
}

/* MOBILE NAVIGATION */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* HEADER */
.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__title {
  flex: 1;

  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
  text-transform: capitalize;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  grid-row: 2;
}

.header__img {
  width: 35%;
  right: 6rem;
  bottom: 0rem;
  position: absolute;
  /* transform: translateY(-6rem); */
}

.highlight--text-primary {
  color: var(--color-primary);
}

.highlight--text-secondary {
  color: var(--color-secondary-darker);
}

.highlight {
  position: relative;
  color: #fff;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-tertiary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  padding: 2px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.icon-2 {
  background: var(--color-secondary-opacity);
}

.icon-3 {
  background-color: var(--color-primary-opacity);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* ABOUT US */
.about__us {
  max-width: 115rem;
  display: flex;
  gap: 5rem;
  margin: 0 auto;
}

.about__us--info {
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 400rem;

  align-items: start;
  justify-items: start;
}

.about__us--list {
  list-style: none;
}

.about__icon {
  height: 2rem;
  width: 2rem;
  transform: translateY(3px);
  margin-right: 1rem;
  color: var(--color-primary);
}

.about-us-img {
  width: 150%;
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* transform: translateY(-6rem); */
}

/* TRAINERS */
.trainers__section {
  background-color: var(--color-primary-opacity);
  padding: 15rem 3rem;
  transition: transform 1s, opacity 1s;
}

.trainers__title {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.trainers__title .section__icons {
  justify-content: center;
}

.paw__icon {
  color: var(--color-primary-darker) !important;
}

.trainers__description {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.trainers__header {
  max-width: 115rem;
  margin: 0 auto;
  text-align: center;
  justify-self: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 8rem;
}

.trainers__cards {
  max-width: 115rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/* Dont forget to add hover in JS */
.trainers__card {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.trainers__img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.trainers__name {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

.trainers__card p {
  margin-bottom: 1.3rem;
  line-height: 1.4;
}

.social__logos {
  display: flex;
  gap: 1rem;
}

.social__logo {
  font-size: 2rem;
  padding: 5px;
  background-color: var(--color-primary-opacity);
  border-radius: 50%;

  transition: all 0.3s;
}

/* FAQ'S */
.faqs {
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  border-radius: 10px;
  background-color: #fff;
}

.faqs__tab-container {
  display: flex;
  justify-content: center;
}

.faqs__tab {
  margin-right: 2rem;
  transform: translateY(-50%);
}

.faqs__tab span {
  margin-left: 1rem;
  font-weight: 600;
  display: inline-block;
}

.faqs__tab--1 {
  background-color: var(--color-secondary) !important;
}

.faqs__tab--1:hover {
  background-color: var(--color-secondary-darker) !important;
}

.faqs__tab--2 {
  background-color: var(--color-tertiary) !important;
}

.faqs__tab--2:hover {
  background-color: var(--color-tertiary-darker) !important;
}

.faqs__tab--active {
  transform: translateY(-66%);
}

.faqs__content {
  display: none;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.faqs__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.faqs__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.faqs__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.faqs__icon ion-icon {
  height: 2.75rem;
  width: 2.75rem;
}

.faqs__content p {
  grid-column: 2;
}

.faqs__icon--1 {
  background-color: var(--color-secondary-opacity);
}

.faqs__icon--2 {
  background-color: var(--color-tertiary-opacity);
}

.faqs__icon--3 {
  background-color: var(--color-primary-opacity);
}

.faqs__icon--1 ion-icon {
  color: var(--color-secondary-darker);
}

.faqs__icon--2 ion-icon {
  color: var(--color-tertiary-darker);
}

.faqs__icon--3 ion-icon {
  color: var(--color-primary-darker);
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* TURN OFF FOR TESTING */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  display: grid;
  border: none;
  background: rgba(255, 255, 255, 07);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  align-items: center;
  justify-items: center;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* GALLERY */
.section__gallery {
  background-color: var(--color-primary-opacity);
}

.section__title--gallery {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.section__title--gallery .section__icons {
  justify-content: center;
}

.gallery__description {
  color: var(--color-primary-darker) !important;
}

.photo__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery__item {
  overflow: hidden;
}

.gallery__img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery__img:hover {
  transform: scale(1.1);
}

/* CONTACt US */
.section--contact-us {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--contact-us .section__header {
  color: #fff;
  text-align: center;
}

.section--contact-us .section__title {
  margin-bottom: 6rem;
}

.section--contact-us .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;

  transition: all 0.3s;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
  filter: invert(100%) brightness(200%);
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.3s;
}

.btn--close-modal:hover {
  color: rgba(255, 0, 0, 0.9);
}
